<{include file="../common/header.html"}>
<div class="pad_10">
	<div class="common-form">
		<form name="myform" action="http://182.92.212.76/upload/tweet_pic" enctype="multipart/form-data"  method="post" id="myform">
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td width="80">上传图片</td>
					<td><input type="file" name="file" id="file"></td>
				</tr>
			</table>
		    <div class="bk15"></div>
		    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
		</form>
	</div>
</div>
<{include file="../common/footer.html"}>
